# New York Airbnb Listings

## Convert CSV into SQL database

The CSV is currently located on the following path: './data/new-york-city-airbnb-open-data/AB_NYC_2019.csv'

In [1]:
import pandas as pd
import sqlite3

In [2]:
# load CSV
df = pd.read_csv('./data/new-york-city-airbnb-open-data/AB_NYC_2019.csv')

# create SQLite connection and save dataframe
conn = sqlite3.connect('airbnb.db')
df.to_sql('airbnb_listings', conn, if_exists='replace', index=False)

48895

#### Basic information on the dataset

In [3]:
# query to retrieve first 10 rows of listings
query = "SELECT * FROM airbnb_listings LIMIT 10"
result = pd.read_sql_query(query, conn)
print("The first 10 rows of data look like...\n", result)

# query to count the number of listings
query = "SELECT COUNT(*) AS total_listings FROM airbnb_listings"
result = pd.read_sql_query(query, conn)
print("\n\nThe total number of listings is...\n", result)

The first 10 rows of data look like...
      id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192
5  5099         Large Cozy 1 BR Apartment In Midtown East     7322
6  5121                                   BlissArtsSpace!     7356
7  5178                  Large Furnished Room Near B'way      8967
8  5203                Cozy Clean Guest Room - Family Apt     7490
9  5238                Cute & Cozy Lower East Side 1 bdrm     7549

     host_name neighbourhood_group       neighbourhood  latitude  longitude  \
0         John            Brooklyn          Kensington  40.64749  -73.97237
1     Jennifer           Manhattan             Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan              Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn        Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan         East Harlem  40.79851  -73.94399
5        Chris           Manhattan         Murray Hill  40.74767  -73.97500
6        Garon            Brooklyn  Bedford-Stuyvesant  40.68688  -73.95596
7     Shunichi           Manhattan      Hell's Kitchen  40.76489  -73.98493
8    MaryEllen           Manhattan     Upper West Side  40.80178  -73.96723
9          Ben           Manhattan           Chinatown  40.71344  -73.99037

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  2018-10-19
1  Entire home/apt    225               1                 45  2019-05-21
2     Private room    150               3                  0        None
3  Entire home/apt     89               1                270  2019-07-05
4  Entire home/apt     80              10                  9  2018-11-19
5  Entire home/apt    200               3                 74  2019-06-22
6     Private room     60              45                 49  2017-10-05
7     Private room     79               2                430  2019-06-24
8     Private room     79               2                118  2017-07-21
9  Entire home/apt    150               1                160  2019-06-09

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.21                               6               365
1               0.38                               2               355
2                NaN                               1               365
3               4.64                               1               194
4               0.10                               1                 0
5               0.59                               1               129
6               0.40                               1                 0
7               3.47                               1               220
8               0.99                               1                 0
9               1.33                               4               188


The total number of listings is...
    total_listings
0           48895

#### 1. What is the average price per night across neighborhoods?

In [9]:
# query to get the average price of listing by neighbourhood group and sort it lowest to highest
query = "SELECT neighbourhood_group, AVG(price) AS average_price FROM airbnb_listings GROUP BY neighbourhood_group ORDER BY average_price ASC"
result = pd.read_sql_query(query, conn)
print(result)

  neighbourhood_group  average_price
0               Bronx      87.496792
1              Queens      99.517649
2       Staten Island     114.812332
3            Brooklyn     124.383207
4           Manhattan     196.875814

#### 2. Which neighborhoods have the most listings?

In [7]:
# query to get the number of listings in each neighbourhood and sort it from highest to lowest
query = "SELECT neighbourhood_group, COUNT(*) AS listings_in_neighbourhood FROM airbnb_listings GROUP BY neighbourhood_group ORDER BY listings_in_neighbourhood DESC"
result = pd.read_sql_query(query, conn)
print(result)

  neighbourhood_group  listings_in_neighbourhood
0           Manhattan                      21661
1            Brooklyn                      20104
2              Queens                       5666
3               Bronx                       1091
4       Staten Island                        373